#rich-blue {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #00BFFF),
            linear-gradient(#426ab7, #00BFFF),
            linear-gradient(#395cab, #00BFFF);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
